
/* Style The Dropdown Button */
.dropbtn {
  background-color: #007acc;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #007acc;
}

  /* CSS voor het stijlen van de website */
  body {
    font-family: Arial, sans-serif; /* Kies het lettertype voor de hele pagina */
    background-color: #f2f2f2; /* Achtergrondkleur van de pagina */
    margin: 0; /* Verwijdert de standaardmarges van de pagina */
    padding: 0; /* Verwijdert de standaardopvulling van de pagina */
}
header {
    background-color: #007acc; /* Achtergrondkleur van de koptekst (header) */
    color: #fff; /* Tekstkleur van de koptekst */
    text-align: center; /* Centreert de tekst in de koptekst */
    padding: 20px; /* Voegt ruimte rond de koptekst toe */
}
nav {
    background-color: #333; /* Achtergrondkleur van de navigatiebalk (nav) */
    color: #fff; /* Tekstkleur van de navigatiebalk */
    text-align: center; /* Centreert de tekst in de navigatiebalk */
    padding: 10px; /* Voegt ruimte rond de navigatiebalk toe */
}
nav a {
    color: #fff; /* Tekstkleur van de navigatielinks */
    text-decoration: none; /* Verwijderd onderstreping van de links */
    margin: 0 20px; /* Voegt marges toe aan de links (afstand tussen links) */
}
nav a:hover {
    text-decoration: underline; /* Onderstreept de links bij hover (muishover) */
}
.container {
    max-width: 1200px; /* Stelt de maximale breedte van de inhoudscontainer in */
    margin: 0 auto; /* Centreert de container op de pagina */
    padding: 20px; /* Voegt ruimte rond de container toe */
}
h1, h2 {
    color: #007acc; /* Tekstkleur van koppen (h1 en h2) */
}
.content {
    background-color: #fff; /* Achtergrondkleur van de inhoudssectie */
    padding: 20px; /* Voegt ruimte rond de inhoudssectie toe */
    margin: 20px 0; /* Voegt boven- en ondermarges toe aan de inhoudssectie */
}

footer{
    text-align: center;
    background-color:#333;
    color: #fff;
    padding: 5px;
}

